footer
	.row
		.col-3.col-offset-3
			ul
				li О сервисе
				li Способы оплаты
				li Как это работает
				li Партнёрам
				li Статьи и новости
		.col-3
			ul.ul2
				li
					h2 8 800 123 4567
				li
					span Звонок по России бесплатный
				li Обратная связь
				li Мы вКонтакте
	.text-row
		.text.left
			.text_inner_wrapper
				p © 2012–2018
				p ООО «Название компании»
			img.logo1(src="./img/footer-logo1.svg")
		.text.right
			p Дополнительные ссылки и копирайты 
			p ООО «Фирма 2»
			br
			img.logo2(src="./img/footer-logo2.svg")