mixin formsection()
	section.form
		.form
			h1 Поиск начислений
			.input
				input(type="text" placeholder="Введите данные для поиска")
				.button Найти
			| Чем больше параметров введено, тем полнее результаты поиска