mixin header()
	header
		.header_wrapper
			a.button Войти
			img(src="./img/logo.svg", alt="")
			span.button Помощь
			.dropdown
				ul
					li Как это работает
					li Вопрос-ответ
					li Служба поддержки
