mixin legal()
	section.content.legal
		.text
			h2 Судебные задолженности
			br
			br
			pre Для поиска начислений в ГИС ГМП укажите документы:
			|паспорт РФ, ИНН, СНИЛС или номер Исполнительного производства.
			|Вы можете указать реквизиты платежа самостоятельно, заполнив форму.
			br
			br
			br
			span УДОБНО!
			p Судебные задолженности можно погасить как сразу, так и по частям, комфортными для вас платежами. Информацию о совершенных платежах сохраняйте в Личном кабинете.
		.img
			