.modal_wrapper
	.modal_mask
	.modal
		.block
			.text 
				p введите логин и пароль для входа
				p в Личный кабинет
			.sign_in
				input(type="text" placeholder="Логин").log
				input(type="text" placeholder="Пароль").pass
				.button Войти
			ul
				li
					a(href="#") Забыли пароль?
				li
					a(href="#") Регистрация
			.exit.button &times