mixin paymentsection()
	section.payment
		h1 Здесь можно оплатить
		.refs
			a(href="#")
				h3 Штрафы и пошлины ГИБДД
			a(href="#")
				h3 Судебные задолженности
			a(href="#")
				h3 Налоги 
			a(href="#")
				h3 Услуги Росреестра
			span
				h3 и другие услуги