mixin paymentsection()
	section.payment
		h1 Здесь можно оплатить
		.refs
			a(href="#gbdd")
				h3 Штрафы и пошлины ГИБДД
			a(href="#legal")
				h3 Судебные задолженности
			a(href="#tax")
				h3 Налоги 
			a(href="#serv")
				h3 Услуги Росреестра
			span
				h3 и другие услуги
		img.share(src="img/share.svg")