mixin partners()
	section.partners
		h2 С нами работают 
		.row
			.col
				img.p1(src="./img/Vector Smart Object-pdf (5).svg")
				
			.col
				img.p2(src="./img/Vector Smart Object-pdf (4).svg")
				
			.col
				img.p3(src="./img/Vector Smart Object-pdf (3).svg")
				
			.col
				img.p4(src="./img/Vector Smart Object-pdf (2).svg")
				
			.col
				img.p5(src="./img/Vector Smart Object-pdf (1).svg")
				
			.col
				img.p6(src="./img/Vector Smart Object-pdf.svg")
				
		.row
			.col
				h4 Партнер 1
			.col
				h4 Компания-партнер с длинным названием
			.col
				h4 Партнер 3
			.col
				h4 Название партнера 4
			.col
				h4 компания-партнер 5
			.col
				h4 Партнер 6 с длинным названием
		
			
			