mixin services()
	section.content.services
		.text
			h2#serv Услуги Росреестра
			br
			br
			pre В поисковой строке укажите Код платежа, который был отправлен вам
			|на почтовый ящик, указанный при подаче запроса в Росреестре.
			br
			br
			br
			span НЕТ КОДА?
			p Если у вас еще нет кода платежа, перейдите на сайт rosreestr.ru и сформируйте запрос на оплату электронных услуг Росреестра.
		.img



