mixin tax()
	section.content.tax
		.text
			h2 Налоги
			br
			br
			pre Для поиска начислений по налогам в ГИС ГМП укажите ИНН или
			|Индекс налогового документа, усли у вас на руках есть квитанция.
			br
			br
			br
			span ВАЖНО!
			p Согласно законодательству РФ вы не можете оплачивать налоги за других физических лиц. Принимаются только платежи физических лиц.
		.img
			



