include components/components
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title firma2
body
	+header()
	.main_wrapper
		main
			+formsection()
			+paymentsection()
			+gbdd()
			+legal()
			+tax()
			+services()
			+partners()
		include components/_footer
	include components/_modal