include components/components
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title firma2
body
	+header()
	main
		.main_wrapper
			+formsection()
			+paymentsection()
			+gbdd()
			+legal()
			+tax()
			+services()
			+partners()
	